.warrior-str{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    min-height: 18px;
    text-align: left;
    width: 258px;

    display: grid;
    grid-template-columns: 1fr repeat(4, 40px);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: left;
}
.warrior-str__element{
    display: flex;
}

.warrior-str__element_name{
    font-size: 14px;
    font-weight: bold;
}

.warrior-str__element__img{
    width: 16px;
    height: 16px;
    border: none;
}

.warrior-str__element__txt{
    /* width: 20px; */
    font-size: 12px;
    display: inline-block;
}

/* 
.warrior-str_left{
    float: left;
}
.warrior-str_right{
    float:right;
}
 */